/** {
    line-height: 1.5;
    border: 1px solid red;
    box-sizing: border-box;
}
*/
body {
    background-color: antiquewhite;
    color:#0075e0
    font-family: "Open Sans", Calibri, Tahoma, sans-serif;
}

header,
ul,
p {
    background-color: rgb(130, 186, 235);
}

img {
    width: 20px;
    height: auto;
    align-self: center;
}

h1 {
    color:#0075e0;
    font-family: "Open Sans", Calibri, Tahoma, sans-serif;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
 }

h2,
p {
    color:blueviolet;
    font-size: 2rem;
    text-align: center;    
}

.center {
    display: block;
    margin: 0 auto;
    width: 500px;
}

/*.content-width {
    max-width: 200ch;
    width: calc(100% - 4rem);
    margin:0 auto;
}
*/

.sub-heading {
    font-weight: bold;
    font-size: 48px;
    font-family: "Open Sans", Calibri, Tahoma, sans-serif;
    color:cadetblue;
    text-transform: uppercase;
}


